@font-face {
    font-family: 'Open Sans';
    font-display: swap;
    src: url('../fonts/OpenSans/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans/OpenSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    font-display: swap;
    src: url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans/OpenSans-Bold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    font-display: swap;
    src: url('../fonts/OpenSans/OpenSans-SemiBold.woff') format('woff'), url('../fonts/OpenSans/OpenSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
@font-face {
	font-family: 'icomoon';
	src:  url('../fonts/Icomoon/icomoon.woff') format('woff'), url('../fonts/icomoon/icomoon.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@import url('../css/normalize.css');

html,
body {
	height: 100%;
	background: rgba(255, 255, 255, 1);
	font-family: "Open Sans", sans-serif;
	color: rgba(34, 34, 34, 1);
}
a,button, a *, button * {
	cursor: pointer;
	transition: color .3s ease, border .3s ease, text-decoration .3s ease, background .3s ease, box-shadow .3s ease;
}
.title-section {
	font-weight: bold;
	font-size: 45px;
	line-height: 55px;
	margin: 0 0 35px 0;
}
i {
	font-family: 'icomoon' !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-messages:before {
	content: "\e900";
}
.icon-phone_iphone:before {
	content: "\e901";
}
.icon-search1:before {
	content: "\e902";
}
//==============================
.wrapper {
	display: grid;
	min-height: 100%;
	grid-template: minmax(162px, auto) 1fr minmax(392px, auto) / 1fr;
	grid-template-areas:
		"header"
		"main"
		"footer";
}
//==============================
.header {
	padding: 37px 0 0 0;
	grid-area: header;
	align-items: center;
	display: grid;
	grid-template: minmax(85px, auto) minmax(40px, auto) /  1fr;
	&__top {
		background-color: rgba(243, 243, 243, 1);
		display: grid;
		grid-template: 1fr / minmax(20px, 1fr) minmax(auto, 1173px) minmax(20px, 1fr);
		align-items: center;
		column-gap: 1px;
	}
	&__main {
		display: grid;
		grid-template: 1fr / minmax(20px, 1fr) 170px minmax(auto, 360px) minmax(auto, 435px) minmax(auto, 163px) minmax(20px, 1fr);
		align-items: center;
		justify-items: stretch;
		column-gap: 15px;
		font-weight: 600;
	}
	&__bottom {
		background-color:rgba(252, 25, 25, 1);
		display: grid;
		grid-template: 1fr / minmax(20px, 1fr) minmax(auto, 1173px) minmax(20px, 1fr);
		font-weight: 600;
	}
}
.top-header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
	z-index: 3;
	&__menu {
		grid-column: 2 / 3;
	}
	&__list {
		display: grid;
		grid-template: 37px / repeat(11, auto);
		justify-items: stretch;
		align-items: center;
		column-gap: 5px;
		margin: 0;
		padding: 0;
		li {
			height: 100%;
		}
	}
	&__link {
		height: 100%;
		display: grid;
		align-items: center;
		justify-content: center;
		font-size: 13px;
		color: rgba(107, 106, 106, 1);
		&:hover {
			color: rgba(0, 0, 0, 1);
			text-decoration: underline;
		}
		&_red {
			color: rgba(252, 25, 25, 1);
			&:hover {
				text-decoration: underline;
			}
		}
	}
}
.main-header {
	&__logo {
		grid-column: 2 / 3;
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
		}
	}
	&__phones {
		grid-column: 3 / 4;
		justify-self: end;
		display: grid;
		grid-template: 1fr 1fr / 1fr;
		row-gap: 8px;
		padding: 0 18px 0 53px;
		background: url('../img/header/icon_phone.png') left / 17px 28px no-repeat;
		position: relative;
		&::before {
			content: '';
			position: absolute;
			width: 1px;
			height: 100%;
			background: rgba(224, 224, 224, 1);
			top: 0;
			left: 33px;
		}
		&::after {
			content: '';
			position: absolute;
			width: 1px;
			height: 100%;
			background: rgba(224, 224, 224, 1);
			top: 0;
			right: 0;
		}
	}
	&__search {
		grid-column: 4 / 5;
	}
	&__private {
		grid-column: 5 / 6;
		display: grid;
		grid-template: 1fr / repeat(2, auto);
		justify-items: stretch;
		column-gap: 20px;
	}
	&__tel {
		font-size: 21px;
		font-weight: 800;
		color: rgba(85, 85, 85, 1);
		span {
			color: rgba(252, 25, 25, 1);
		}
	}
	&__cabinet {
		display: grid;
		grid-template: 1fr 1fr / 1fr;
		align-items: center;
		justify-items: center;
		img {
			width: 25px;
			height: auto;
		}
	}
	&__basket {
		display: grid;
		grid-template: 1fr 1fr / 1fr;
		align-items: center;
		justify-items: center;
		position: relative;
		img {
			width: 34px;
			height: auto;
		}
	}
}
.search {
	height: 40px;
	position: relative;
	&__input {
		width: 80%;
		height: 100%;
		border: 1px solid rgba(204, 204, 204, 1);
		color: rgba(134, 134, 134, 1);
		font-size: 14px;
		padding: 15px 35px 15px 15px;
		&:focus {
			box-shadow: inset 4px 4px 4px 0px rgba(229, 229, 229, .5);
		}
	}
	&__btn {
		position: absolute;
		top: calc(50% - 8px);
		right: calc(20% + 10px);
		background: transparent;
		i {
			color: rgba(134, 134, 134, 1);
			font-size: 14px;
		}
	}
}
.basket {
	&__number {
		position: absolute;
		top: -5px;
		left: 42px;
		padding: 3.8px 5.4px;
		background: rgba(252, 25, 25, 1);
		border-radius: 50%;
		color: rgba(255, 255, 255, 1);
		font-size: 10px;
		text-align: center;
	}
}
.bottom-header {
	&__menu {
		grid-column: 2 / 3;
	}
	&__list {
		display: grid;
		grid-template: 43px / repeat(7, auto);
		align-items: center;
		justify-items: stretch;
		column-gap: 10px;
		margin: 0;
		padding: 0;
		position: relative;
	}
	&__li {
		background: url(../img/header/angle_down.png) right 3px top 50% / 8px auto no-repeat;
		height: 100%;
		display: grid;
		grid-template: auto / auto;
		align-items: center;
		justify-items: start;
		color: rgba(243, 243, 243, 1);
		padding-left: 7px;
		padding-right: 18px !important;
		transition: background .3s ease;
		cursor: pointer;
		&:hover {
			background: url(../img/header/angle_up.png) right 3px top 50% / 8px auto no-repeat, rgba(211, 20, 20, 1) url(../img/header/underline.png) left 4px bottom 8px / calc(100% - 25px) 1px no-repeat;
			.sublist {
				display: block;
				width: 1034px;
				max-height: 650px;
				column-width: 250px;
				column-gap: 15px;
				column-fill: auto;
				z-index: 2;
			}
		}
	}
	&__sublist {
		display: none;
		background:rgba(243, 243, 243, 1);
		position: absolute;
		top: 100%;
		z-index: -1;
		&_l {
			left: 0;
		}
		&_r {
			right: 0;
		}
	}
}
.sublist {
	padding: 15px 30px 40px 30px;
	border: 1px solid rgba(209, 209, 209, 1);
	border-top: none;
	border-radius: 0 0 5px 5px;
	line-height: 130%;
	cursor: auto;
	&__li {
		margin: 0 0 20px 0;
		break-inside: avoid;
	}
	p {
		font-size: 16px;
		font-weight: bold;
		color:rgba(102, 204, 255, 1);
		margin: 0 0 10px 0;
	}
	&__link {
		display: block;
		font-size: 12px;
		font-weight: normal;
		color: rgba(105, 105, 105, 1);
		margin: 0 0 10px 0;
		&_b {
			font-weight: bold;
			padding: 10px 0 10px 0;
			border-top: 1px solid  rgba(209, 209, 209, 1);
			border-bottom: 1px solid  rgba(209, 209, 209, 1);
		}
		&:hover {
			color: rgba(102, 204, 255, 1);
			text-decoration: underline;
		}
	}
}
//==============================
.main {
	grid-area: main;
}
//==============================
.carousel {
	display: grid;
	grid-template: 1fr / 1fr;
	position: relative;
	&__container {
		width: 100%;
		height: 340px;
	}
	&__item {
		&_1, &_4 {
			background: url(../img/slider/slider_1.jpg) center / cover no-repeat;
		}
		&_2, &_5 {
			background: url(../img/slider/slider_2.jpg) center / cover no-repeat;
		}
		&_3, &_6 {
			background: url(../img/slider/slider_3.jpg) center / cover no-repeat;
		}
	}
	&__pagination {
		position: absolute;
		left: 0;
		bottom: 10px !important;
		text-align: center;
	}
	.swiper-pagination-bullet {
		width: 10px !important;
		height: 10px !important;
		border-radius: 50%;
		background: rgba(224, 224, 224, 1) !important;
		opacity: .75 !important;
		margin: 0 9px 0 9px !important;
		&-active {
			background: rgba(252, 25, 25, 1) !important;
			opacity: 1 !important;
		}
	}
	@media (min-width: 992px) {
		height: 456px;
		&__item {
			&_1, &_4 {
				background: url(../img/slider/slider_1.jpg) center / contain no-repeat;
			}
			&_2, &_5 {
				background: url(../img/slider/slider_2.jpg) center / contain no-repeat;
			}
			&_3, &_6 {
				background: url(../img/slider/slider_3.jpg) center / contain no-repeat;
			}
		}
		&__pagination {
			bottom: 15px !important;
		}
	}
}
//==============================
.basic {
	padding: 30px 0 20px 0;
	display: grid;
	grid-template: 1fr / minmax(20px, 1fr) minmax(auto, 1173px) minmax(20px, 1fr);
	&__body {
		grid-column: 2 / 3;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
		grid-auto-rows: 1fr;
		column-gap: 15px;
		row-gap: 30px;
	}
	&__item {
		display: grid;
		grid-auto-flow: row;
		grid-template: auto 1fr / 1fr;
		&:hover {
			.basic__lable {
				color: rgba(252, 25, 25, 1);
			}
			.basic__arrow {
				fill:  rgba(252, 25, 25, 1);
			}
		}
	}
	&__image {
		position: relative;
		padding: 0px 0px 90% 0px;
		margin: 0px 0px 20px 0px;
		border-radius: 5px;
		overflow: hidden;
		img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
	&__lable {
		font-weight: 600;
		font-size: 24px;
		line-height: 32px;
		span {
			margin-right: 15px;
		}
	}
	&__arrow {
		fill: rgba(34, 34, 34, 1);
	}
}
//==============================
.recommend {
	padding: 10px 0 40px 0;
	background: rgba(255, 255, 255, 1);
	display: grid;
	grid-template: minmax(55px, auto) auto / minmax(20px, 1fr) minmax(auto, 1173px) minmax(20px, 1fr);
	position: relative;
	&__title {
		grid-column: 2 / 3;
	}
	&__container {
		grid-column: 2 / 3;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
		grid-auto-rows: 1fr;
	}
	&__item {
		border: 1px solid rgba(227, 227, 227, 1);
		padding: 6px 30px 30px 30px;
		display: grid;
		grid-auto-flow: row;
		grid-template: auto 1fr minmax(33px, auto) minmax(43px, auto) / 1fr;
		text-align: center;
		position: relative;
		transition: border .3s ease;
		&:hover {
			border: 1px solid rgba(255, 0, 0, 1);
		}
	}
}
.item-recommend {
	&__image {
		position: relative;
		padding: 0px 0px 90% 0px;
		margin: 0px 0px 20px 0px;
		img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: contain;
		}
	}
	&__text {
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		color: rgba(105, 105, 105, 1);
		margin: 0 0 13px 0;
	}
	&__price {
		font-family: Arial, sans-serif;
		font-weight: bold;
		font-size: 29px;
		line-height: 33px;
		color: rgba(41, 41, 41, 1);
		margin: 0 0 19px 0;
		span {
			font-size: 26px;
			font-weight: normal;
			&.old {
				font-style: italic;
				font-size: 18px;
				line-height: 28px;
				text-decoration-line: line-through;
				color: rgba(189, 189, 189, 1);
			}
		}
	}
	&__btn {
		width: 90%;
		height: 43px;
		justify-self: center;
		background: rgba(252, 25, 25, 1);
		border-radius: 5px;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		color: rgba(255, 255, 255, 1);
		padding: 10px;
		z-index: 2;
		&:hover {
			background: rgba(211, 20, 20, 1);
		}
	}
}
//==============================
.new {
	padding: 30px 0 50px 0;
	background: rgba(246, 246, 246, 1);
	display: grid;
	grid-template: minmax(55px, auto) 1fr / minmax(20px, 1fr) minmax(auto, 1173px) minmax(20px, 1fr);
	&__title {
		grid-column: 2 / 3;
	}
	&__body {
		grid-column: 2 / 3;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
		grid-auto-rows: 1fr;
		column-gap: 15px;
		row-gap: 15px;
	}
	&__item {
		background: rgba(255, 255, 255, 1);
		border: 1px solid rgba(227, 227, 227, 1);
		padding: 6px 30px 30px 30px;
		display: grid;
		grid-auto-flow: row;
		grid-template: auto 1fr minmax(33px, auto) minmax(43px, auto) / 1fr;
		text-align: center;
		position: relative;
		transition: border .3s ease;
		&:hover {
			&:hover {
				border: 1px solid rgba(255, 0, 0, 1);
			}
			.stock {
				transition: opacity .2s ease, .2s, transform .4s ease 0s;
				opacity: 1;
				transform: translate(0, 0);
				z-index: 1;
			}
		}
	}
	&__image {
		position: relative;
		padding: 0px 0px 90% 0px;
		margin: 0px 0px 20px 0px;
		img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: contain;
		}
	}
	&__text {
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		color: rgba(105, 105, 105, 1);
		margin: 0 0 13px 0;
	}
	&__price {
		font-family: Arial, sans-serif;
		font-weight: bold;
		font-size: 29px;
		line-height: 33px;
		color: rgba(41, 41, 41, 1);
		margin: 0 0 19px 0;
		span {
			font-size: 26px;
			font-weight: normal;
		}
	}
	&__btn {
		width: 90%;
		height: 43px;
		justify-self: center;
		background: rgba(252, 25, 25, 1);
		border-radius: 5px;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		color: rgba(255, 255, 255, 1);
		padding: 10px;
		z-index: 2;
		&:hover {
			background: rgba(211, 20, 20, 1);
		}
	}
}
//==============================
.hits {
	padding: 30px 0 50px 0;
	background: rgba(255, 255, 255, 1);
	display: grid;
	grid-template: minmax(55px, auto) 1fr / minmax(20px, 1fr) minmax(auto, 1173px) minmax(20px, 1fr);
	&__title {
		grid-column: 2 / 3;
	}
	&__body {
		grid-column: 2 / 3;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
		grid-auto-rows: 1fr;
		column-gap: 15px;
		row-gap: 15px;
	}
	&__item {
		background: rgba(255, 255, 255, 1);
		border: 1px solid rgba(227, 227, 227, 1);
		padding: 6px 30px 30px 30px;
		display: grid;
		grid-auto-flow: row;
		grid-template: auto 1fr minmax(33px, auto) minmax(43px, auto) / 1fr;
		text-align: center;
		position: relative;
		transition: border .3s ease;
		&:hover {
			border: 1px solid rgba(255, 0, 0, 1);
			.stock {
				transition: opacity .2s ease, .2s, transform .4s ease 0s;
				opacity: 1;
				transform: translate(0, 0);
				z-index: 1;
			}
		}
	}
	&__image {
		position: relative;
		padding: 0px 0px 90% 0px;
		margin: 0px 0px 20px 0px;
		img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: contain;
		}
	}
	&__text {
		justify-self: end;
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		color: rgba(105, 105, 105, 1);
		margin: 0 0 13px 0;
	}
	&__price {
		font-family: Arial, sans-serif;
		font-weight: bold;
		font-size: 29px;
		line-height: 33px;
		color: rgba(41, 41, 41, 1);
		margin: 0 0 19px 0;
		span {
			font-size: 26px;
			font-weight: normal;
			&.old {
				font-style: italic;
				font-size: 18px;
				line-height: 28px;
				text-decoration-line: line-through;
				color: rgba(189, 189, 189, 1);
			}
		}
	}
	&__btn {
		width: 90%;
		height: 43px;
		background: rgba(252, 25, 25, 1);
		border-radius: 5px;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		color: rgba(255, 255, 255, 1);
		padding: 10px;
		z-index: 2;
		&:hover {
			background: rgba(211, 20, 20, 1);
		}
	}
}
//==============================
.discount {
	padding: 10px 0 54px 0;
	background: rgba(246, 246, 246, 1);
	display: grid;
	grid-template: minmax(55px, auto) auto / minmax(20px, 1fr) minmax(auto, 1173px) minmax(20px, 1fr);
	position: relative;
	&__title {
		grid-column: 2 / 3;
	}
	&__container {
		grid-column: 2 / 3;
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
		grid-auto-rows: 1fr;
	}
	&__item {
		background: rgba(255, 255, 255, 1);
		border: 1px solid rgba(227, 227, 227, 1);
		padding: 6px 30px 30px 30px;
		display: grid;
		grid-auto-flow: row;
		grid-template: auto 1fr minmax(33px, auto) minmax(43px, auto) / 1fr;
		text-align: center;
		position: relative;
		transition: border .3s ease;
		&:hover {
			border: 1px solid rgba(255, 0, 0, 1);
		}
	}
}
.item-discount {
	&__image {
		position: relative;
		padding: 0px 0px 90% 0px;
		margin: 0px 0px 20px 0px;
		img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: contain;
		}
	}
	&__text {
		font-weight: bold;
		font-size: 12px;
		line-height: 15px;
		color: rgba(105, 105, 105, 1);
		margin: 0 0 13px 0;
	}
	&__price {
		font-family: Arial, sans-serif;
		font-weight: bold;
		font-size: 29px;
		line-height: 33px;
		color: rgba(41, 41, 41, 1);
		margin: 0 0 19px 0;
		span {
			font-size: 26px;
			font-weight: normal;
			&.old {
				font-style: italic;
				font-size: 18px;
				line-height: 28px;
				text-decoration-line: line-through;
				color: rgba(189, 189, 189, 1);
			}
		}
	}
	&__btn {
		width: 90%;
		height: 43px;
		justify-self: center;
		background: rgba(252, 25, 25, 1);
		border-radius: 5px;
		font-weight: 600;
		font-size: 16px;
		line-height: 24px;
		color: rgba(255, 255, 255, 1);
		padding: 10px;
		z-index: 2;
		&:hover {
			background: rgba(211, 20, 20, 1);
		}
	}
}
//==============================
.review {
	padding: 30px 0 70px 0;
	background: rgba(255, 255, 255, 1);
	display: grid;
	grid-template: minmax(55px, auto) 1fr / minmax(20px, 1fr) minmax(auto, 1173px) minmax(20px, 1fr);
	&__title {
		grid-column: 2 / 3;
	}
	&__body {
		grid-column: 2 / 3;
	}
	&__item {
		display: grid;
		grid-auto-flow: row;
		grid-template: auto minmax(25px, auto) minmax(24px, auto) 1fr / 1fr;
		margin: 0 0 15px 0;
		&:hover {
			.review__lable {
				color: rgba(252, 25, 25, 1);
			}
		}
	}
	&__image {
		position: relative;
		padding: 0px 0px 40% 0px;
		margin: 0px 0px 20px 0px;
		img {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
	&__mark {
		color: rgba(255, 255, 255, 1);
		padding: 5px 18px;
		border-radius: 5px;
		&_r {
			background: rgba(39, 174, 96, 1);
		}
		&_d {
			background: rgba(235, 87, 87, 1);
		}
		&_n {
			background: rgba(45, 156, 219, 1);
		}
	}
	&__lable {
		font-weight: bold;
		font-size: 18px;
		line-height: 24px;
		margin: 14px 0 7px 0;
	}
	&__description {
		margin: 0;
		font-size: 15px;
		line-height: 24px;
		color: rgba(79, 79, 79, 1);
	}
	@media (min-width: 768px) {
		&__body {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-auto-rows: 1fr;
			column-gap: 20px;
			row-gap: 15px;
		}
		&__item {
			margin: 0 0 0 0;
		}
		&__lable {
			margin: 14px 0 15px 0;
		}
	}
}
//==============================
.footer {
	grid-area: footer;
	align-items: center;
	display: grid;
	grid-template: minmax(55px, auto) minmax(285px, auto) minmax(50px, auto) / 1fr;
	&__form {
		display: grid;
		grid-template: 1fr / minmax(20px, 1fr) minmax(auto, 890px) 263px minmax(20px, 1fr);
		column-gap: 20px;
		justify-content: stretch;
	}
	&__main {
		display: grid;
		grid-template: 1fr / minmax(20px, 1fr) minmax(auto, 573px) minmax(auto, 265px) minmax(auto, 285px) minmax(20px, 1fr);
		column-gap: 25px;
	}
	&__copyright {
		height: 100%;
		display: grid;
		grid-template: 1fr / minmax(20px, 1fr) minmax(auto, 1173px) minmax(20px, 1fr);
		background: rgba(47, 47, 47, 1);
		align-items: center;
	}
}
.form {
	background: rgba(255, 87, 88, 1);
	padding: 5px 0 5px 0;
	align-items: center;
	&__lable {
		grid-column: 2 / 3;
		color: rgba(255, 255, 255, 1);
		font-size: 16px;
		line-height: 20px;
	}
	&__item {
		grid-column: 3 / 4;
		height: 43px;
		position: relative;
	}
	&__input {
		height: 100%;
		width: 100%;
		border: 3px solid  rgba(255, 255, 255, 1);
		padding: 15px 45px 15px 15px;
		&:focus {
			box-shadow: inset 0px 0px 5px rgba(128, 128, 128, .5);
		}
	}
	&__btn {
		position: absolute;
		top: 3px;
		right: 3px;
		height: calc(100% - 6px);
		width: 37px;
		background: rgba(255, 0, 0, 1) url('../img/footer/arrow.png') center / 12px auto no-repeat;
	}
}
.main-footer {
	&__shop {
		grid-column: 2 / 3;
	}
	&__contacts {
		grid-column: 3 / 4;
	}
	&__payments {
		grid-column: 4 / 5;
	}
}
.shop {	
	&__list {
		display: grid;
		grid-template-columns: 1fr 1fr;
		li {
			margin: 0 0 14px 0;
		}
	}
	&__link {
		color: rgba(96, 96, 96, 1);
		font-size: 14px;
		&:hover {
			color: rgba(255, 0, 0, 1);
		}
	}
}
.contacts {
	&__text {
		color: rgba(96, 96, 96, 1);
		font-size: 14px;
		line-height: 18px;
		margin: 0 0 10px 0;
		span {
			color: rgba(0, 0, 0, 1);
		}
	}
}
.payments {
	&__image {
		margin: 0 0 30px 0;
		max-width: 100%;
		overflow: hidden;
		img {
			max-width: 100%;
			height: auto;
		}
	}
	&__iconbar {
		display: grid;
		grid-template: 43px / repeat(4, 43px);
		column-gap: 20px;
	}
	&__soc {
		background-image: url(../img/footer/soc.png);
		background-repeat: no-repeat;
		&:first-child {
			background-position: 0 0;
		}
		&:nth-child(2) {
			background-position: -63px 0;
		}
		&:nth-child(3) {
			background-position: -126px 0;
		}
		&:nth-child(4) {
			background-position: -189px 0;
		}
	}
} 
.copyright {
	&__text {
		grid-column: 2 / 3;
		color: rgba(107, 107, 107, 1);
		font-size: 12px;
	}
}
.lable-footer {
	font-size: 16px;
	font-family: Arial, Helvetica, sans-serif;
	color: rgba(63, 63, 63, 1);
	font-weight: bold;
	margin: 0 0 10px 0;
}
//==============================
.tag {
	position: absolute;
	top: 16px;
	font-weight: 600;
	font-size: 12px;
	color: rgba(255, 255, 255, 1);
	&_left {
		left: 0;
		text-align: left;
	}
	&_right {
		right: 0;
		text-align: right;
		float: right;
	}
	&__n {
		padding: 7px 12px 7px 20px;
		background:  url(../img/main/tag_n.png) left / cover no-repeat;
	}
	&__h {
		padding: 7px 12px 7px 20px;
		background: url(../img/main/tag_h.png) left / cover no-repeat;
		margin: 0 0 7px 0;
	}
	&__d {
		display: inline-block;
		padding: 5px 12px 5px 20px;
		background: url(../img/main/tag_d.png) left / cover no-repeat;
	}
	&__percent {
		padding: 0 0 0 10px;
		font-weight: bold;
		font-size: 20px;
		color: rgba(252, 25, 25, 1);
	}
}
.stock {
	display: grid;
	grid-template: 1fr / repeat(2, auto);
	justify-items: stretch;
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	font-size: 12px;
	font-weight: 600;
	padding: 15px 5px 15px 5px;
	background: #333333;
	border-radius: 0px 0px 5px 5px;
	opacity: 0;
	z-index: -1;
	transform: translate(0, -100%);
	&__left {
		color: rgba(0, 212, 89, 1);
	}
	&__right {
		color: rgba(255, 255, 255, 1);
	}
}
//==============================
.btns {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	display: grid;
	grid-template: 36px / minmax(15px, 1fr) 36px minmax(auto, 1170px) 36px minmax(15px, 1fr);
	z-index: 1;
	@media (min-width: 768px) {
		grid-template: 68px / minmax(15px, 1fr) 68px minmax(auto, 1170px) 68px minmax(15px, 1fr);
	}
}
.swiper-btn {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	background:rgba(252, 252, 252, .6);
	box-shadow: 0 0 10px rgba(231, 231, 231, .8);
	overflow: hidden;
	cursor: pointer;
	position: relative;
	&::after {
		content: '';
		position: absolute ;
		transition: background .3s ease;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: url('../img/slider/arrow.svg') center / 11.6px auto no-repeat;
	}
	&:hover {
		&::after {
			background:   url('../img/slider/arrow_r.svg') center / 11.6px auto no-repeat;
		}
	}
	&-prev {
		grid-column: 2 / 3;
	}
	&-next {
		grid-column: 4 / 5;
		&::after {
			transform: rotate(180deg);	
		}
	}
	@media (min-width: 768px) {
		width: 68px;
		height: 68px;
		&::after {
			background: url('../img/slider/arrow.svg') center / 23px auto no-repeat;
		}
		&:hover {
			&::after {
				background:   url('../img/slider/arrow_r.svg') center / 23px auto no-repeat;
			}
		}
	}
}