@font-face {
    font-family: 'Open Sans';
    font-display: swap;
    src: url('../fonts/OpenSans/OpenSans-Regular.woff') format('woff'), url('../fonts/OpenSans/OpenSans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    font-display: swap;
    src: url('../fonts/OpenSans/OpenSans-Bold.woff') format('woff'), url('../fonts/OpenSans/OpenSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans';
    font-display: swap;
    src: url('../fonts/OpenSans/OpenSans-SemiBold.woff') format('woff'), url('../fonts/OpenSans/OpenSans-SemiBold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@import url('../css/normalize.css');

html,
body {
	height: 100%;
	background: rgba(255, 255, 255, 1);
	font-family: "Open Sans", sans-serif;
	color: rgba(34, 34, 34, 1);
	line-height: 24px;
}
//==============================
.wrapper {
	display: grid;
	min-height: 100%;
	grid-template: minmax(162px, auto) 1fr minmax(335px, auto) / 1fr;
	grid-template-areas:
		"header"
		"main"
		"footer";
}
//==============================
.header {
	grid-area: header;
	align-items: center;
	display: grid;
	grid-template: minmax(37px, auto) minmax(85px, auto) minmax(40px, auto) /  1fr;
	&__top {
		background-color: rgba(243, 243, 243, 1);
		align-items: center;
		display: grid;
		grid-template: 1fr / 1fr minmax(auto, 1173px) 1fr;
	}
	&__main {
		display: grid;
		grid-template: 1fr / 1fr 170px minmax(auto, 826px) minmax(auto, 177px) 1fr;
	}
	&__bottom {
		background-color:rgba(252, 25, 25, 1);
		display: grid;
		grid-template: 1fr / 1fr minmax(auto, 1173px) 1fr;
	}
}
.top-header {
	&__menu {
		grid-column: 2 / 3;
	}
	&__list {
		display: grid;
		grid-template: 1fr / 100px 100px 100px 100px 100px 100px 100px 100px;
	}
}
.main-header {
	&__logo {
		grid-column: 2 / 3;
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
		}
	}
	&__middle {
		grid-column: 3 / 4;
	}
	&__private {
		grid-column: 4 / 5;
	}
}
.bottom-header {
	&__menu {
		grid-column: 2 / 3;
	}
}
//==============================
.main {
    grid-area: main;
}
//==============================
.footer {
	grid-area: footer;
	align-items: center;
	display: grid;
	grid-template: 1fr / 1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr;
}