@import url("../css/normalize.css");
@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  src: url("../fonts/OpenSans/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  src: url("../fonts/OpenSans/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-Bold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal; }
@font-face {
  font-family: 'Open Sans';
  font-display: swap;
  src: url("../fonts/OpenSans/OpenSans-SemiBold.woff") format("woff"), url("../fonts/OpenSans/OpenSans-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal; }
html,
body {
  height: 100%;
  background: white;
  font-family: "Open Sans", sans-serif;
  color: #222222; }

a, button, a *, button * {
  cursor: pointer;
  -webkit-transition: color .3s ease, background .3s ease, -webkit-text-decoration .3s ease, -webkit-box-shadow .3s ease;
  transition: color .3s ease, background .3s ease, -webkit-text-decoration .3s ease, -webkit-box-shadow .3s ease;
  transition: color .3s ease, text-decoration .3s ease, background .3s ease, box-shadow .3s ease;
  transition: color .3s ease, text-decoration .3s ease, background .3s ease, box-shadow .3s ease, -webkit-text-decoration .3s ease, -webkit-box-shadow .3s ease; }

.title-section {
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin: 0 0 35px 0; }

.wrapper {
  display: grid;
  min-height: 100%;
  grid-template: minmax(162px, auto) 1fr minmax(392px, auto)/1fr;
  grid-template-areas: "header" "main" "footer"; }

.header {
  grid-area: header;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: grid;
  grid-template: minmax(37px, auto) minmax(85px, auto) minmax(40px, auto)/1fr; }
  .header__top {
    background-color: #f3f3f3;
    display: grid;
    grid-template: 1fr / 1fr 1173px 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 1px;
            column-gap: 1px; }
  .header__main {
    display: grid;
    grid-template: 1fr/1fr 170px minmax(auto, 360px) minmax(auto, 435px) minmax(auto, 163px) 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: stretch;
    -webkit-column-gap: 15px;
            column-gap: 15px;
    font-weight: 600; }
  .header__bottom {
    background-color: #fc1919;
    display: grid;
    grid-template: 1fr/1fr minmax(auto, 1173px) 1fr;
    font-weight: 600; }

.top-header__menu {
  grid-column: 2 / 3; }
.top-header__list {
  display: grid;
  grid-template: 37px/repeat(11, auto);
  justify-items: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 5px;
          column-gap: 5px;
  margin: 0;
  padding: 0; }
  .top-header__list li {
    height: 100%; }
.top-header__link {
  height: 100%;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 13px;
  color: #6b6a6a; }
  .top-header__link:hover {
    color: black;
    text-decoration: underline; }
  .top-header__link_red {
    color: #fc1919; }
    .top-header__link_red:hover {
      text-decoration: underline; }

.main-header__logo {
  grid-column: 2 / 3;
  overflow: hidden; }
  .main-header__logo img {
    width: 100%;
    height: auto; }
.main-header__phones {
  grid-column: 3 / 4;
  justify-self: end;
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  row-gap: 8px;
  padding: 0 18px 0 53px;
  background: url("../img/header/icon_phone.png") left/17px 28px no-repeat;
  position: relative; }
  .main-header__phones::before {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: #e0e0e0;
    top: 0;
    left: 33px; }
  .main-header__phones::after {
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    background: #e0e0e0;
    top: 0;
    right: 0; }
.main-header__search {
  grid-column: 4 / 5; }
.main-header__private {
  grid-column: 5 / 6;
  display: grid;
  grid-template: 1fr/repeat(2, auto);
  justify-items: stretch;
  -webkit-column-gap: 20px;
          column-gap: 20px; }
.main-header__tel {
  font-size: 21px;
  font-weight: 800;
  color: #555555; }
  .main-header__tel span {
    color: #fc1919; }
.main-header__cabinet {
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center; }
  .main-header__cabinet img {
    width: 25px;
    height: auto; }
.main-header__basket {
  display: grid;
  grid-template: 1fr 1fr / 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  position: relative; }
  .main-header__basket img {
    width: 34px;
    height: auto; }

.search {
  height: 40px;
  position: relative; }
  .search__input {
    width: 80%;
    height: 100%;
    border: 1px solid #cccccc;
    color: #868686;
    font-size: 14px;
    padding: 15px; }
    .search__input:focus {
      -webkit-box-shadow: inset 4px 4px 4px 0px rgba(229, 229, 229, 0.5);
              box-shadow: inset 4px 4px 4px 0px rgba(229, 229, 229, 0.5); }
  .search__btn {
    position: absolute;
    top: calc(50% - 8px);
    right: calc(20% + 10px);
    background: transparent; }
    .search__btn i {
      color: #868686;
      font-size: 14px; }

.basket__number {
  position: absolute;
  top: -5px;
  left: 42px;
  padding: 3.8px 5.4px;
  background: #fc1919;
  border-radius: 50%;
  color: white;
  font-size: 10px;
  text-align: center; }

.bottom-header__menu {
  grid-column: 2 / 3; }
.bottom-header__list {
  display: grid;
  grid-template: 43px/repeat(7, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: stretch;
  -webkit-column-gap: 1px;
          column-gap: 1px;
  margin: 0;
  padding: 0; }
  .bottom-header__list li {
    height: 100%;
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: start; }
.bottom-header__link {
  height: 100%;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: start;
  color: #f3f3f3;
  padding-right: 18px;
  padding-left: 7px;
  position: relative; }
  .bottom-header__link i {
    position: absolute;
    top: calc(50% - 6px);
    right: 3px;
    color: #f3f3f3;
    font-size: 14px;
    font-weight: bold;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease, -webkit-transform .3s ease; }
  .bottom-header__link:hover {
    background: #d31414; }
    .bottom-header__link:hover i {
      -webkit-transform: rotate(-180deg);
              transform: rotate(-180deg); }
    .bottom-header__link:hover::before {
      content: '';
      position: absolute;
      left: 7px;
      bottom: 9px;
      width: calc(100% - 25px);
      height: 1px;
      background: #f3f3f3; }

.main {
  grid-area: main; }

.basic {
  padding: 30px 0 20px 0;
  display: grid;
  grid-template: 1fr / 1fr 1173px 1fr; }
  .basic__body {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    -webkit-column-gap: 15px;
            column-gap: 15px;
    row-gap: 12px; }
  .basic__item {
    display: grid;
    grid-auto-flow: row;
    grid-template: auto 1fr minmax(32px, auto)/1fr; }
    .basic__item:hover .basic__lable {
      color: #fc1919; }
    .basic__item:hover .basic__arrow {
      fill: #fc1919; }
  .basic__image {
    position: relative;
    padding: 0px 0px 90% 0px;
    margin: 0px 0px 20px 0px;
    border-radius: 5px;
    overflow: hidden; }
    .basic__image img {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      -o-object-fit: cover;
         object-fit: cover; }
  .basic__lable {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px; }
    .basic__lable span {
      margin-right: 15px; }
  .basic__arrow {
    fill: #222222; }

.recommend {
  display: grid;
  grid-template: minmax(55px, auto) 1fr/1fr 1173px 1fr; }
  .recommend__title {
    grid-column: 2 / 3; }

.new {
  padding: 30px 0 50px 0;
  background: #f6f6f6;
  display: grid;
  grid-template: minmax(55px, auto) 1fr/1fr 1173px 1fr; }
  .new__title {
    grid-column: 2 / 3; }
  .new__body {
    grid-column: 2 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    -webkit-column-gap: 15px;
            column-gap: 15px;
    row-gap: 12px; }
  .new__item {
    background: white;
    border: 1px solid #e3e3e3;
    padding: 6px 30px 30px 30px;
    display: grid;
    grid-auto-flow: row;
    grid-template: auto 1fr minmax(33px, auto) minmax(43px, auto)/1fr;
    justify-items: center;
    text-align: center;
    position: relative; }
  .new__image {
    width: 100%;
    height: auto;
    margin: 0 0 10px 0;
    overflow: hidden; }
    .new__image img {
      width: 100%;
      height: auto; }
  .new__text {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    color: dimgray;
    margin: 0 0 13px 0; }
  .new__price {
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 29px;
    line-height: 33px;
    color: #292929;
    margin: 0 0 19px 0; }
    .new__price span {
      font-size: 26px;
      font-weight: normal; }
  .new__btn {
    width: 90%;
    height: 43px;
    background: #fc1919;
    border-radius: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: white;
    padding: 10px; }
    .new__btn:hover {
      background: #d31414; }

.tag {
  position: absolute;
  top: 16px;
  right: 0;
  font-weight: 600;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  font-size: 12px;
  color: white;
  padding: 7px 12px 7px 20px; }
  .tag_n {
    background: url(../img/main/tag_n.png) left/cover no-repeat; }

.footer {
  grid-area: footer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: grid;
  grid-template: 2fr/1fr minmax(auto, 300px) minmax(auto, 1100px) 1fr; }

/*# sourceMappingURL=style.css.map */